<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="AddCalendarEvents"
      version="1.0.1">
    <name>AddCalendarEvents</name>
    <description>FrostAura Calendar Plugin</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,calendar</keywords>

    <js-module src="www/AddCalendarEvents.js" name="AddCalendarEvents">
        <clobbers target="navigator.calendar" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Calendar">
                <param name="wp-package" value="AddCalendarEvents" />
            </feature>
        </config-file>

        <source-file src="src/wp/AddCalendarEvents.cs" />
    </platform>
</plugin>