<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="net.frostaura.faCalendarPlugin"
      version="0.1.0">
    <name>faCalendarPlugin</name>
    <description>faCalendar Plugin for Apache Cordova</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,frostaura,calendar</keywords>
    <repo>https://github.com/faGH/WPCalendarPlugin.git</repo>
    <issue></issue>

    <js-module src="www/faCalendarPlugin.js" name="faCalendar">
        <clobbers target="faCalendar" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="faCalendar">
                <param name="wp-package" value="faCalendar"/>
            </feature>
        </config-file>

        <source-file src="src/wp/faCalendarPlugin.cs" />
    </platform>
	
</plugin>
